.links {

    & .title {
        margin: 1em 0;
        text-align: center;
        font-family: "Catamaran", sans-serif;
        font-weight: 600;
        font-size: 2rem;
    }
}

.links-layout {
    display: flex;
    flex-direction: column;
    gap: 4em;
    margin: 1em 0;
}
