.header {
    font-size: 2rem;
    font-weight: 900;
    padding: 20px;
    text-align: left;
    background: linear-gradient(180deg, hsl(201, 68%, 54%) 0%, hsl(240, 88%, 62%) 60%, hsla(240, 88%, 62%, 0) 100%);

    & h2{
    }

    & nav {
        display: flex;
        gap: 2em;
        font-size: 1rem;
    }
}

.navLink {
    padding: 0.5em;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 1em;
}

.logo {
    display: block;
    width: 100px;
    height: 100px;
}

