.badge {
    height: 70px;
    width: auto;
}

.small{
    composes: badge;
    height: 42px;
    width: auto;
}

.medium{
    composes: badge;
    height: 55px;
    width: auto;
}

.large{
    composes: badge;
    height: 70px;
    width: auto;
}