.badge {
    height: 70px;
    width: auto;

    //margin: 0.5em;
}

.small{
    composes: badge;
    height: 55px;
    width: auto;
}

.medium{
    composes: badge;
    height: 70px;
    width: auto;
}

.large{
    composes: badge;
    height: 100px;
    width: auto;
}