:root {
    --bg: #03045e;
    --textColour: hsl(189, 75%, 90%);
    --linkColour: hsl(18, 100%, 49%);
    --linkHoverColour: hsl(18, 100%, 70%);
    --headerBackground: hsl(201, 100%, 36%);
    --inverseTextColour: hsl(189, 75%, 90%);
    --inverseLinkColour: hsl(45, 100%, 64%);
    --inverseLinkHoverColour: hsl(45, 100%, 90%);

    @media (prefers-color-scheme: light) {
        --bg: hsl(190, 77%, 88%);
        --textColour: hsl(201, 100%, 20%);
        --linkColour: hsl(18, 100%, 49%);
        --linkHoverColour: hsl(18, 100%, 35%);
        --headerBackground: hsl(239, 94%, 19%);
        --inverseTextColour: hsl(190, 77%, 90%);
        --inverseLinkColour: hsl(45, 100%, 64%);
        --inverseLinkHoverColour: hsl(45, 100%, 90%);
    }

    background-color: var(--bg);
    color: var(--textColour);
    color-scheme: light dark;
    min-height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    font-feature-settings: "lnum";
}

#root + div {
    visibility: hidden;
}

a {
    color: var(--linkColour);
    text-decoration: inherit;
    white-space: nowrap;
}

a:hover {
    color: var(--linkHoverColour);
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, p {
    font-size: inherit;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.page {
    max-width: 800px;
    margin-inline: auto;
    padding: 1em;
}