:root {
    --bg: #242424;
    --textColour: rgba(255, 255, 255, 0.87);
    --linkColour: hsla(237, 80%, 90%, 0.9);
    --linkHoverColour: hsl(237, 100%, 90%);

    @media (prefers-color-scheme: light) {
        --bg: #fff;
        --textColour: rgba(0, 0, 0, 0.87);
        --linkColour: hsl(237, 100%, 70%);
        --linkHoverColour: hsl(237, 100%, 60%);
    }

    background-color: var(--bg);
    color: var(--textColour);
    color-scheme: light dark;
    min-height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    font-feature-settings: "lnum";
}

#root + div {
    visibility: hidden;
}

a {
    color: var(--linkColour);
    text-decoration: inherit;
    white-space: nowrap;
}

a:hover {
    color: var(--linkHoverColour);
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, p {
    font-size: inherit;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.page {
    max-width: 800px;
    margin-inline: auto;
    padding: 1em;
}